body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.meal-container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
}

#meal-time {
    margin-bottom: 20px;
}

#meal-details {
    text-align: left;
    margin-top: 20px;
}
